body {
    background-color: #141413;
}
.intro {
    position: absolute;
    background-image: url("/img/dgolf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    top: 0%;
    bottom: 100%;
    left:0%;
    right:0%;
}
h1 {
    color: white;
    font-family: Didot, serif;
    font-size: 3rem;
    font-weight:100;
    max-width: 35rem;
}
.intro p {
    color: white;
}
.intro a{
    text-decoration:none;
    color:aliceblue;
    border: 1px solid;
    padding: 1rem;
    width: 10rem;
    margin-top: 1rem;
}
    .intro a:hover{
        background-color: antiquewhite;
        width: 12rem;
        color: black;
        transition: 0.5s ease-in-out
    }
.introsec {
    margin-left: auto;
    margin-top: 15rem;
    width: fit-content;
}
.introsec>div{
    display: flex;
    flex-flow:column;
    margin-left: 4rem;
    width: 15rem;
}
.transition-fade {
    animation: transitionright 1.5s;
    transform-origin: right;
}

.transition-fade-down {
    animation: transitionIn 1.5s;
    transform-origin: left;
}

@keyframes transitionIn {
    from {
        opacity: 1;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
    }
}

@keyframes transitionright {
    from {
        opacity: 1;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
    }
}


/*Sign Up page*/

.signup{
    max-width: 50%;
    /*min-width: fit-content;*/
    margin: auto;
    padding: 1rem;
    margin-top: 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.signup div{

}
.signup h1{
    width: fit-content;
    margin:auto;
}
.signup form {
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid white;
    padding: 3rem;
    border-radius: 3%;
    margin-top: 1rem;
}

input[type=text] {
    padding: 12px 20px;
    margin: 6px 0rem;
    border: 1px solid powderblue;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 100%;
}

label {
    color: white;
}
.flexform {
    display: flex;
}
.flexform > div {
    max-width: 55%;
    margin: 1rem;
}

@media (max-width: 760px){
    .signup h1 {
        width: fit-content;
        margin: auto;
    }
    .signup{
        flex-flow:column;
    }
    input[type=text] {
        max-width: 100%;
    }
    .signup form > div {
        display: flex;
        flex-flow: column;
    }
}

@media(max-width: 1600px){
    .signup form {
        justify-content: center;
        max-width: 50%;
    }
        .signup form > div {
            display: flex;
            flex-flow: column;
        }

}