@page
@model ClubBAISTGolfClub.Pages.SignUpModel
@{
}
<div class="contain">
    <div class="signup">
        <form name="CreateMembership" class="flexed signupform transition-fade" method="post">
            <h2>Join Club BAIST</h2>
            <div>
                <div class="formflex">
                    <div>
                        <input type="text" name="FirstName" placeholder="FirstName" required />
                        <input type="text" name="LastName" placeholder="LastName" required />
                        <input type="text" name="Address" placeholder="Address" required />
                        <input type="text" name="City" placeholder="City" required />
                        <input type="text" name="Province" placeholder="Province" required />
                        <input type="text" name="Country" placeholder="Country" required />
                    </div>
                    <div>
                        <input type="text" name="PostalCode" placeholder="PostalCode" required />
                        <input type="text" name="Phone" placeholder="Phone" required />
                        <input type="text" name="Email" placeholder="Email" required />
                        <input type="password" name="Password" placeholder="Password" required />
                        <label>Date Of Birth</label>
                        <input type="date" name="DOB" required />

                        <label for="menu">Membership Type</label>
                        <select id="menu" class="input" name="MembershipType" required>
                            <option value="Gold">Gold</option>
                            <option value="Silver">Silver</option>
                            <option value="Bronze">Bronze</option>
                            <option value="Copper">Copper</option>
                        </select>

                        <input type="number" min="0" name="Sponsor1ID" placeholder="Sponsor1ID" required />
                        <input type="number" min="0" name="Sponsor2ID" placeholder="Sponsor2ID" required />
                        <label for="ApplicationForm">Select a file:</label>
                        <input type="file"  name="ApplicationForm" required>
                    </div>

                </div>
                <div>
                    <input type="submit" name="Submit" value="Apply" class="apply-button" />
                </div>
            </div>
        </form>
    </div>
</div>

