@page
@model ClubBAISTGolfClub.Pages.TeeTimeReservationsModel
@{
    Layout = "_Header";
    ViewData["Title"] = "My Reservations";
}
<div class="bookTee">
    <nav class="memberhome_nav">
        <ul>
            <li>
                <a href="~/MemberHome">My Account</a>
            </li>
            <li>
                <a href="~/BookTeeTime">Tee Times</a>
            </li>
            <li>
                <a href="~/TeeTimeReservations">Reservations</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="~/Admin">Admin</a>
            </li>
        </ul>
    </nav>
    <div class="infodiv">
        <h2>My Reservations</h2>
    </div>
</div>
