body {
    background-color:white;
    display:flex;
}
.first {
    display: flex;
    background-color: #121211;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.nav {
    background-color: black;
    height: 100vh;
    width: 12%;
    min-width: 12rem;
}
.body {
   width:100%; 
}
form {
    border: 1px solid;
    border-color: white;
    width: fit-content;
    margin: auto;
    padding: 2rem 5rem;
    border-radius: 5%;
    border-color: purple;
    max-height: 50rem;
    overflow:auto
}
ul{
    margin-top:3rem;
    width: 80%;
    height: 50%;
}
li {
    width: 80%;
    list-style: none;
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 120%;
    border-bottom:1px solid purple;
}
li a{
    text-decoration: none;
    color: white;
}

    li a:hover {
        color: purple;
    }
a {
    font-family: monospace;
    font-weight:bold;
}
h1 {
    font-family: monospace;
}
h2 {
    font-family: monospace;
    font-size: 50px;
    margin: auto;
    font-family: monospace;
    width: fit-content;
    margin: auto;
    color: white;
}
.index{
    width:fit-content;
    margin:auto;
}
    .index h1 {
        color: white;
        font-size: 50px;
        margin: auto;
        font-family: monospace;
        width: fit-content;
        margin: auto;
    }
    .index img{
        display:flex;
        border-radius: 50%;
        margin:auto;
        background-color: rebeccapurple;
    }
table {
    margin: auto;
    height: 10rem;
    width: 33rem;
}

tr {
    height: 6rem;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 20px
}

.found {
    border-color: white;
}

.found thead th {
    border-bottom: 2px solid;
    border-color: white;
}
.found tbody th {
    border-bottom: 2px solid;
    border-right: 1px solid;
    border-color: white;
    
}
.found th {
    min-width:7rem;
    padding: 0 1rem;
}
.address {
    min-width:18rem;
}

.scroll{
    max-height: 20rem;
    overflow: auto;
}

.scroll thead {
    position: sticky;
    top: 0;
    background-color: #121211;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid powderblue;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid powderblue;
    border-radius: 5px;
    box-sizing: border-box;
}

.deleteB {
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

.select {
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

.sub {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 33rem;
    margin: auto;
}


input[type=button] {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: greenyellow;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.submit{
    margin: auto;
    width: 33rem;
}
.submit:hover{
    background-color: mediumpurple;
}

.sub:hover{
    background-color: mediumpurple;
}

.message {
    width: 33rem;
    margin: auto;
    margin-top: 1rem;
    background-color: lightgreen;
    height: 3.3rem;
    border-radius: 5px;
    padding-top: .3rem;
}

.message>p{
    margin-left:auto;
    margin-right:auto;
    margin-top: 1rem;
    width: fit-content;
    margin-bottom: 0rem;
    font-size: 20px;
}

.updateCustomertr {
    height:fit-content
}
.updateCustomertr > td {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

    .updateCustomertr > td > input[type=text] {
        width: 49%; 
    }

.transition-fade {
    animation: transitionleft 1.5s;
    transform-origin: left;
}

.transition-fade-down {
    animation: transitionIn 1.5s;
    transform-origin: left;
}

@keyframes transitionIn {
    from {
        opacity: 1;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
    }
}
@keyframes transitionleft {
    from {
        opacity: 1;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
    }
}
.pSale td{
    padding: 0rem 2rem;
}
.pSale .found th{
    padding: 0rem 1rem;
    border: none;
}

.pSale .found{
    width:fit-content;
    border: none;
}

.pSale input[type=number]{
   max-width:5rem;
}

.pSale .found th {
    padding: 1rem;
    border: none;
}

.scrollable-section {
    max-height: 330px;
    overflow-y: auto;
}
.scrollable-section thead {
    position: sticky;
    top: 0;
    background-color: #121211;
}