@page
@model BAIS3110Authentication.Pages.LoginModel
@{
 
} 
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8" />
    </head>
 
    <body>
        <h1>Login</h1>
        <form method="post" name="loginForm">
            <label>Email:</label>
            <input type="text" name="Email" />
 
            <br />
 
            <label>Password:</label>
            <input type="password" name="Password" />
 
            <br />
 
            <input type="submit" name="Submit" value="Submit" />
        </form>
 
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <p>@Model.Message</p>
        }
    </body>
</html>
