@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="~/nekwom1SignOn">I am a Existing student</a><br />
    <a href="~/nekwom1Student">I am a New student</a>

</div>
