@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8" />
         <title>Welcome To Nicholas App</title>
    </head>
    <body>
    <div class="text-center">
        <h1 class="display-4">Nicholas</h1>
        <a href="SignIn">I am a Existing student</a> 
        <a href="SignUp">I am a New student</a> 
    </div>
    </body>
</html>
