@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a href="SignIn">I am a Existing student</a> </li>
        <li><a href="SignUp">I am a New student</a></li>
    </ul>

</div>
