@page
@model BAIST33150ConsoleAppEmpty.Pages.TestPageModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test Page</title>
    <script type="text/javascript">

    </script>
</head>
<body>
    <!-- Html 5 Structural Elements:-->
    <header>
        Header Area<br />
        The headings of a webpage doocument or are within <br/>
        <hr/> <!--Horizontal rule-->
    </header>
    <nav>
        Navigation Area<br/>
        Section of navigation links <br />
        <hr />
    </nav>
    <main>
        Main Area<br />
        The main conent of a web page document, only one page 
        <div>
            Division Area <br />
            A generic structoral area on webpae as a block display with empty space above and below 
            <form name="TestPageForm" action="/Helloworld.html">
                <table border="0">
                    <tr>
                        <td>Field:</td>
                        <td>
                            <input type="text" name="Field"/>

                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <input type="submit" name="Submit"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <hr />
    </main>
    <footer>
        Footer Area<br />
        The footer content of a web page or section of a web page <br /><hr />
    </footer>
</body>
</html>
