@page
@model ABCHardWare.Pages.AddItemModel
@{
}
<h2>Add New Item</h2>
<form name="AddItem" method="post">
    <table>
        <tr>
            <td>
                <input type="text" name="Description"  placeholder="Description"/>
                @Html.ValidationMessage("DescriptionInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="UnitPrice"  min="0" max="9999999999" step=".01" placeholder="Unit Price" />
                @Html.ValidationMessage("UnitPriceInput")
            </td>
        </tr>
    </table>
    <div class="submit">
        <input type="submit" name="AddItem" value="AddItem" class="sub" />
    </div>

    <div class="message">
        <p>@Model.Message</p>
    </div>
</form>
