@page
@model ABCHardWare.Pages.AddItemModel
@{
}

<form name="AddItem" method="post" class="transition-fade">
    <h2>Add New Item</h2>
    <table>
        <tr>
            <td>
                <input type="text" name="Description" required placeholder="Description"/>
                @Html.ValidationMessage("DescriptionInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="UnitPrice" required min="0" max="9999999999" step=".01" placeholder="Unit Price" />
                @Html.ValidationMessage("UnitPriceInput")
            </td>
        </tr>
    </table>
    <div class="submit">
        <input type="submit" name="AddItem" value="AddItem" class="sub" />
    </div>

    <div class="message">
        <p>@Model.Message</p>
    </div>
</form>
