@page
@model ABCHardWare.Pages.AddItemModel
@{
}
<script type="text/javascript">
    function isFormValid(newItem) {
        var isValid = false;
        var ItemCodeValue = newItem.ItemCode.value;
        const ItemCodePattern = /^[A-Za-z][0-9]{5}$/

        if (!ItemCodePattern.test(ItemCodeValue)) {
            alert("Item Code must start with a letter and be followed by five numbers");
        }
        else {
            isValid = true;
        }
        return isValid
    }
</script>
<form name="AddItem" method="post" onsubmit="return isFormValid(window.document.AddItem)">
    <h2>Add New Item</h2>
    <table>
        <tr>
            <td>
                <input type="text" name="ItemCode" required placeholder="ItemCode" />
                @Html.ValidationMessage("ItemCodeInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="Description" required placeholder="Description"/>
                @Html.ValidationMessage("DescriptionInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="UnitPrice" required min="0" max="9999999999" step=".01" placeholder="Unit Price" />
                @Html.ValidationMessage("UnitPriceInput")
            </td>
        </tr>
    </table>
    <div class="submit">
        <input type="submit" name="AddItem" value="AddItem" class="sub" />
    </div>

    <div class="message">
        <p>@Model.Message</p>
    </div>
</form>
