@page
@model ABCHardWare.Pages.IndexModel
@{
}
<div class="index transition-fade">
    <img src="~/images/logo.jpg" alt="Opening Image" width="100" height="100"/>
    <h1>Welcome to the ABC Store</h1>
</div>


