@page
@model ABCHardWare.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ABC Store</title>
</head>
<body class="index">
    <h1>Welcome to the ABC Store</h1>
</body>
</html>