@page
@model ABCHardWare.Pages.ProcessSaleModel
@{
}
<h2>Process Sale</h2>
<form name="ProcessSale" method="post">
    <tr>
        <td>
            <input type="text" name="ItemCode" required placeholder="Item Code" />
        </td>
    </tr>
</form>