@page
@model nekwomBAIST310CodeSampleEmpty.Pages.CreateProgramModel
@{
}
@section scriptCreateProgramValidation{
    <script type="text/javascript">
        function isFormValid(createForm){
            var isValid = true;
            var pCodeValue = createForm.ProgramCode.value;
            var descriptionValue = createForm.Description.value;

            if (pCodeValue.length < 1){
                alert("Program Code is Required");
                isValid = false;
            }
            else if(descriptionValue.length < 1){
                alert('Description is Required');
                isValid = false;
            }else{
                isValid = true;
            }

            return isValid;
        }
    </script>
}
<h2>@Model.Message</h2>
<form name="AddProgram" method="post" onsubmit="return isFormValid(window.document.AddProgram);">
    <table>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>Program Code</td>
            <td>
                <input type="text" name="ProgramCode" />
                @Html.ValidationMessage("Programcode")
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" name="Description" />
                @Html.ValidationMessage("Description")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="AddProgram"/>
            </td>
        </tr>
    </table>
</form>