@page
@model nekwomBAIST310CodeSampleEmpty.Pages.FindStudentModel
@{
}
@section scriptDDAVAlidation{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
<h2>Modify A Student</h2>
<form name="FindStudent" method="post">
    <table border="0">
        <tr>
            <td>
                Student ID
            </td>
            <td>
                <input asp-for="StudentID" />
            </td>
            <td>
                <span asp-validation-for="StudentID"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Find Student" />
            </td>
        </tr>
        <tr>
            <td>@Model.Student.FirstName</td>
            <td>@Model.Student.LastName</td>
            <td>@Model.Student.Email</td>
        </tr>
    </table>
</form>
