@page
@model nekwomBAIST310CodeSampleEmpty.Pages.RemoveStudentModel
@{
}
@section scriptDDAVAlidation{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
<form name="DeleteStudent" method="post">
    <table border="1">
        <tr>
            <td>@Model.Message</td>
        </tr>
        <tr>
            <td>
                Student ID
            </td>
            <td>
                <input asp-for="StudentID" />
            </td>
            <td>
                <span asp-validation-for="StudentID"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Delete Student" />
            </td>
        </tr>
    </table>
</form>